* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #d9d6f3;
}

body {
  background-color: #ffffff;
  margin: 25px auto;
  max-width: 80vh;
  padding: 2vw;
  text-align: center;
}

body p {
  margin-top: 10px;
}

h1 {
  color: #8b45b9;
  margin-bottom: 10px;
}

#graph-canvas {
  border: 1px solid #808080;
  width: 50%;
}

input {
  width: 85px;
  border: 1px solid #808080;
}

#return-func {
  background-color: rgba(0, 0, 0, 0.2);
}

button {
  display: inline;
  background-color: #d9d6f3;
  color: #000000;
  padding: 3px;
  border: 1px solid #808080;
  cursor: pointer;
  margin-top: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #808080;
  background-color: #8cd2f5;
}

#graph-table {
  overflow-x: auto;
  margin-top: 10px;
}

td {
  background-color: #c2dcf3;
  border: 1px solid #808080;
  padding: 2px;
}

.nav-bar {
  padding: 15px;
}

.nav-bar a {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: #503d69;
  background-color: #d9d6f3;
  border: 1px solid #808080;
  border-radius: 6px;
}

.nav-bar a:hover,
button:hover {
  background-color: #c2dcf3;
}
