* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #d9d6f3;
}

body {
  background-color: #ffffff;
  margin: 25px auto;
  max-width: 80vh;
  max-height: fit-content;
  padding: 5vh;
  text-align: center;
}

body p {
  margin: 10px;
}

h1 {
  color: #8b45b9;
  margin-bottom: 10px;
}

.nav-bar {
  padding: 15px;
}

.nav-bar a {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: #503d69;
  background-color: #d9d6f3;
  border: 1px solid #808080;
  border-radius: 6px;
}

.nav-bar a:hover,
button:hover {
  background-color: #c2dcf3;
}
